[submodule "Python/Bootcamp_Zero_to_Hero_Portilla/Complete-Python-3-Bootcamp"]
	path = Python/Bootcamp_Zero_to_Hero_Portilla
	url = https://github.com/RMDircio/Complete-Python-3-Bootcamp
[submodule "Python/Python_for_Beginners_Yassin_Marco"]
	path = Python/Python_for_Beginners_Yassin_Marco
	url = git@github.com:RMDircio/Python_for_Beginners_Yassin_Marco.git
[submodule "Python/PostgresSQL_with_Python"]
	path = Python/PostgresSQL_with_Python
	url = https://github.com/RMDircio/PostgresSQL_with_Python
[submodule "Python/Python_Data_Structures_Algorithms_Interviews_Portilla"]
	path = Python/Python_Data_Structures_Algorithms_Interviews_Portilla
	url = git@github.com:RMDircio/Python_Data_Structures_Algorithms_Interviews_Portilla.git
